body {
  font-family: Outfit, Arial;
  
  margin: 0;
  padding: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 

  background-image: url(../img/bg.png);
  animation: inf 35s linear infinite;
}

p {
  margin: 0;
  padding: 0;
}

@keyframes inf {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 150% 0;
  }
}